body {
  background: rgb(250,0,180);
  background: linear-gradient(0deg, rgba(250,0,180,1) 16%, rgba(253,29,29,1) 61%, rgba(254,195,111,1) 100%) no-repeat;
  height: 100vmax;
}

.card-number  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4em;
}

.card-number div {
  margin: auto 2em;
  text-align: center;
  line-height: 1em;
}

.card-number-box h5 {
  margin: auto;
  font-weight: 100 !important;
}

.card-number-box.active {
  background-color: #282;
  color: #fff;
}

.card-number p {
  margin-top: .5em;
  color: #fff;
  font-size: small;
}

.card-number-box {
  height: 1rem;
  width: 1rem;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 0%;
}

hr {
  transform: rotate(90deg);
  height: 320px;
  margin-bottom: 35px;
  z-index: -1;
}

.multi-step-form {
  margin-top: -10em;
}

.card {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: .5rem;
  box-shadow: -1px 1px 5px 9px rgba(100, 40, 40, 0.3);
  height: 40vh;
  padding: .5rem;
  max-width: 300px;
  margin: 5px auto;
  display: none;
  animation: fade 250ms ease-in-out forwards;
}

.card.active {
  display: block;
  animation: slide 250ms 125ms ease-in-out both;
}

.card-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: .2em;
  color: #555;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  gap: .25em;
}

.form-group:last-child {
  margin: 0;
}

.form-group > label {
  display: none;
}

.form-group > input {
  border: 1px solid #333;
  border-radius: .25em;
  font-size: 1rem;
  padding: .25em 1em;
  margin: 0 1em;
  height: 25px;
}

#confirmPassword {
  margin-bottom: .5em;
}

.form-group > input::placeholder {
  padding-left: .8em;
}

.step-title {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  color: #777;
}

.multi-step-form {
  overflow: hidden;
}

.hide {
  display: none;
}

button {
  display: inline-block;
  background-color: #373;
  color: #fff;
  width: 6rem;
  height: 2em;
  border-radius: 2px;
}

.button {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(.75);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}